In [5]:
import sys
# !{sys.executable} -m pip install pandas plotly dask plotly prettytable requests

import pandas as pd 
import dask.dataframe as dd
import os
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot
import warnings
warnings.filterwarnings('ignore')
init_notebook_mode(connected=True)
    
TRAIN_PATH = 'input/arcos_all_washpost.tsv/arcos_all_washpost.tsv'

interestingColumns = ['BUYER_NAME','BUYER_ADDRESS1', 'BUYER_ADDRESS2', 'BUYER_CITY', 'BUYER_STATE',
       'BUYER_ZIP', 'BUYER_COUNTY','DRUG_NAME', 'QUANTITY', 'UNIT', 'TRANSACTION_DATE', 'CALC_BASE_WT_IN_GM',
       'DOSAGE_UNIT', 'Product_Name', 'Ingredient_Name','Revised_Company_Name', 'Reporter_family']

traintypes = {'BUYER_NAME': 'str',
              'BUYER_ADDRESS1': 'str', 
              'BUYER_ADDRESS2': 'str',
              'BUYER_CITY': 'str',
              'BUYER_STATE': 'str',
              'BUYER_ZIP': 'int64',
              'BUYER_COUNTY': 'str',
              'DRUG_NAME': 'str',
              'QUANTITY': 'int64',
              'UNIT': 'str',
              'TRANSACTION_DATE': 'str',
              'CALC_BASE_WT_IN_GM': 'float64',
              'DOSAGE_UNIT': 'float64',
              'Product_Name': 'str',
              'Ingredient_Name': 'str',
              'Revised_Company_Name': 'str',
              'Reporter_family': 'str'}

cols = list(traintypes.keys())

df = dd.read_csv(TRAIN_PATH,sep='\t', usecols=interestingColumns, dtype = traintypes)

In [7]:
df['YEAR'] = dd.to_datetime(df['TRANSACTION_DATE'], format = '%m%d%Y').dt.year

df['MONTH'] = dd.to_datetime(df['TRANSACTION_DATE'], format = '%m%d%Y').dt.month

In [9]:
df.head(5)

,BUYER_NAME,BUYER_ADDRESS1,BUYER_ADDRESS2,BUYER_CITY,BUYER_STATE,BUYER_ZIP,BUYER_COUNTY,DRUG_NAME,QUANTITY,UNIT,TRANSACTION_DATE,CALC_BASE_WT_IN_GM,DOSAGE_UNIT,Product_Name,Ingredient_Name,Revised_Company_Name,Reporter_family,YEAR,MONTH
0,"TABRIZI, HAMID R DMD","389 MAIN STREET, SUITE 404",NaN,MALDEN,MA,2148,MIDDLESEX,HYDROCODONE,1,NaN,12262012,0.60540,100.0,HYDROCODONE BIT/ACETA 10MG/500MG USP,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,Mallinckrodt,ACE Surgical Supply Co Inc,2012,12
1,APOTHECARY SHOP DEER VALLEY,23620 N 20TH DR,#12,PHOENIX,AZ,85085,MARICOPA,HYDROCODONE,4,NaN,03112009,0.12108,40.0,HYDROCODONE BITARTRATE & ACETA 5MG/,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,Apotheca Inc.,Apotheca Inc,2009,3
2,"HOBBS, DOUGLAS DON, MD",URGENT CARE EXTRA COOPER,641 WEST WARNER,GILBERT,AZ,85233,MARICOPA,HYDROCODONE,40,NaN,11252008,3.63240,1200.0,HYDROCODONE BITARTRATE & ACETA 5MG/,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,Apotheca Inc.,Apotheca Inc,2008,11
3,"HOBBS, DOUGLAS DON, MD",URGENT CARE EXTRA COOPER,641 WEST WARNER,GILBERT,AZ,85233,MARICOPA,HYDROCODONE,20,NaN,06122009,2.72430,600.0,HYDROCODONEBITARTRATE & ACETA 7.5MG,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,Apotheca Inc.,Apotheca Inc,2009,6
4,"HOBBS, DOUGLAS DON, MD",URGENT CARE EXTRA COOPER,641 WEST WARNER,GILBERT,AZ,85233,MARICOPA,HYDROCODONE,10,NaN,10022009,0.90810,300.0,HYDROCODONE BITARTRATE & ACETA 5MG/,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,Apotheca Inc.,Apotheca Inc,2009,10

In [12]:
def quantityCounter(dataframe,columnToCount):
    quantityCount = dataframe.groupby(columnToCount)['CALC_BASE_WT_IN_GM'].sum()
    quantityCount = quantityCount.compute().sort_values(ascending=False)
    df = pd.DataFrame(data=quantityCount)
    return df

drugCounts = quantityCounter(df,["BUYER_STATE","DRUG_NAME", "YEAR", "MONTH"])

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

drugCounts.reset_index(inplace=True)
drugCounts.head(10)

  BUYER_STATE    DRUG_NAME  YEAR  MONTH  CALC_BASE_WT_IN_GM
0          MP  HYDROCODONE  2006      3        3.405376e+07
1          FL    OXYCODONE  2010      5        1.185283e+06
2          FL    OXYCODONE  2010      4        1.177967e+06
3          FL    OXYCODONE  2010      6        1.116938e+06
4          FL    OXYCODONE  2010      3        1.073456e+06
5          FL    OXYCODONE  2009     12        1.019757e+06
6          FL    OXYCODONE  2010      9        9.804842e+05
7          FL    OXYCODONE  2010      8        9.777552e+05
8          FL    OXYCODONE  2010      2        9.776849e+05
9          FL    OXYCODONE  2010      1        9.564162e+05

In [14]:
# Dask line to write the data to a single CSV file
drugCounts.to_csv('opiates_data_condensed.csv')

In [15]:
from sqlalchemy import create_engine
engine = create_engine("postgres://postgres:postgres@localhost:5432/project_etl", echo=False)
drugCounts.to_sql('opiates_data', con=engine, if_exists='replace', index_label = 'row_id')