In [21]:
"""Iterate CSV Solution."""

# Incorporated the csv module
import csv
import os
import sys
# !{sys.executable} -m pip install prettytable json requests
import requests
import json
import prettytable
import pandas as pd

In [22]:
df_global = pd.DataFrame(columns = ["series id","state", "year","period","value","footnotes"])
df_global

Empty DataFrame
Columns: [series id, state, year, period, value, footnotes]
Index: []

In [23]:
# File to load
file_to_load = os.path.join("state_survey_id_key.csv")

state_series_id = []

df_global = pd.DataFrame(columns = ["series_id","year","period","value","footnotes"])

with open(file_to_load) as my_data:
    reader = csv.reader(my_data)

    # Read the header
    header = next(reader)

    # For each row...
    for row in reader:
        # Do API CALL here
        # state_series_id.append(row[1])
        # Create local dataframe containing state data
        df_local = pd.DataFrame(columns = ["series_id", "state", "year","period","value","footnotes"])
        print(f"In series for the state: {row[0]}")
        headers = {'Content-type': 'application/json'}
        data = json.dumps({"seriesid": [ row[1]],"startyear":"2006", "endyear":"2020", "registrationkey" : "17aae18627c546e69edb6230d9844de7"})
        p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
        json_data = json.loads(p.text)

        for series in json_data['Results']['series']:
            x=prettytable.PrettyTable(["series id", "state", "year","period","value","footnotes"])
            seriesId = series['seriesID']
            for item in series['data']: 
                year = item['year']
                period = item['period']
                value = item['value']
                footnotes=""
                for footnote in item['footnotes']:
                    if footnote:
                        footnotes = footnotes + footnote['text'] + ','
                if 'M01' <= period <= 'M12':
                    row_dict = {"series_id": seriesId, "state": row[0], "year": year, "period": period, "value":value, "footnotes": footnotes[0:-1]}
                    df_local = df_local.append(row_dict, ignore_index=True)
                    # x.add_row([seriesId,year,period,value,footnotes[0:-1]])
            df_global = df_global.append(df_local, ignore_index=True)
            #output = open(seriesId + '.txt','w')
            # output.write(x.get_string())
            # output.close()

In series for the state: Alabama
In series for the state: Alaska

In [24]:
from sqlalchemy import create_engine
engine = create_engine("postgres://postgres:postgres@localhost:5432/project_etl", echo=False)
df_global.to_sql('unemployement_data', con=engine, if_exists='replace', index_label = 'row_id')

In [25]:
df_global

                series_id  year period value     footnotes    state
0    LASST010000000000003  2020    M09   6.6  Preliminary.  Alabama
1    LASST010000000000003  2020    M08   5.6                Alabama
2    LASST010000000000003  2020    M07   7.9                Alabama
3    LASST010000000000003  2020    M06   7.6                Alabama
4    LASST010000000000003  2020    M05   9.6                Alabama
..                    ...   ...    ...   ...           ...      ...
349  LASST020000000000003  2006    M05   6.7                 Alaska
350  LASST020000000000003  2006    M04   6.7                 Alaska
351  LASST020000000000003  2006    M03   6.8                 Alaska
352  LASST020000000000003  2006    M02   6.9                 Alaska
353  LASST020000000000003  2006    M01   6.9                 Alaska

[354 rows x 6 columns]

In [26]:
df_local

                series_id   state  year period value     footnotes
0    LASST020000000000003  Alaska  2020    M09   7.2  Preliminary.
1    LASST020000000000003  Alaska  2020    M08   7.4
2    LASST020000000000003  Alaska  2020    M07  11.6
3    LASST020000000000003  Alaska  2020    M06  12.4
4    LASST020000000000003  Alaska  2020    M05  12.7
..                    ...     ...   ...    ...   ...           ...
172  LASST020000000000003  Alaska  2006    M05   6.7
173  LASST020000000000003  Alaska  2006    M04   6.7
174  LASST020000000000003  Alaska  2006    M03   6.8
175  LASST020000000000003  Alaska  2006    M02   6.9
176  LASST020000000000003  Alaska  2006    M01   6.9

[177 rows x 6 columns]